.reports {
    display: flex;
    flex-shrink: 0;
    background-color: #fff;
    box-shadow: 3px 1px 6px 0 rgba(184, 198, 211, 0.4);
    z-index: 2;
    height: 41px;
  }
  
  .reports .item {
    width: 140px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 14px;
    cursor: pointer;
    border-left: 1px solid #e9e9e9;
    color: rgba(0, 0, 0, 0.43);
    background-color: #f7f9fb;
    cursor: pointer;
  }
  .reports .item:first-child {
    border: none;
  }
  
  .reports .item:last-child {
    border-right: 1px solid #e9e9e9;
  }
  
  .reports .item.selected {
    background-color: #fff;
    color: #1890ff;
  }