@keyframes loadingCircle {
  100% {
    transform: rotate(360deg);
  }
}

.icon-loading {
  fill: #1890ff;
}

.icon-loading svg {
  display: inline-block;
  animation: loadingCircle 1s infinite linear;
  width: 26px;
  height: 26px;
}
