.dataset-field {
}

.dataset-field .title {
  font-size: 12px;
  padding-left: 8px;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.45);
}

.dataset-field .list {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.dataset-field .search {
  margin-bottom: 4px;
}

.dataset-field .item {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #e6e9ed;
  border-radius: 2px;
  padding-left: 8px;
  margin: 0 0 2px 0;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
  height: 32px;
  padding: 0 8px;
}

.dataset-field .item .icon-field {
  margin-right: 8px;
  line-height: 14px;
  height: 14px;
}
